{% extends "home-page.html"%}
{% block title %}All Courses{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"> <i class="fa fa-book" aria-hidden="true"></i> Browse All Songs:</h1>
    <ul>
      <li><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
        MISY330
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MISY330</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Covers the design and implementation of enterprise databases in the business environment. A networked setting and its effect on database management will be emphasized. PREREQ: MISY160 or CISC181. RESTRICTIONS: MIS majors and MIS and/or GET minors only. Not open to computer science majors in the MIS minor. Not open to students who double major in both accounting and management information systems.
            </div>

          </div>
        </div>
      </div></li>
                <li><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal1">
                  MISY261
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">MISY261</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Introduction to management information systems. Programming techniques for problem solving with business productivity tools and software. Emphasis on business applications. PREREQ: MISY160 or CISC101.
                      </div>

                    </div>
                  </div>
                </div></li>
                <li><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal2">
                  MISY225
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">MISY225</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Use of higher level contemporary computing languages to structure Prototyping applications of systems. PREREQ: MISY160 or CISC101. RESTRICTIONS: Not open to CIS majors in the MIS minor.
                      </div>

                    </div>
                  </div>
                </div></li>
          </ul>

        </div>





{% endblock%}
