<!DOCTYPE html>

{% extends "home.html"%}
{% block title %}Courses{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}


<!-- Page Content -->
<div class="container">
<br><h1 class="mt-5 text-center"> <i class="fa fa-pencil-square" aria-hidden="true"></i> Courses</h1>
    <div class="row bottom-margin">
      <a href="/course/add" class="btn btn-primary" role="button" aria-disabled="true">Add Courses</a>
    </div>
    <br>{% if courses %}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Course Number</th>
            <th>Title</th>
            <th>Professor</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
              <th scope="row">{{course.id}}</th>
              <td>{{course.course_no}}</td>
              <td>{{course.title}}</td>
              <td>{{course.professor.name}}</td>
              <td>
              <!--  view description button trigger modal -->
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{course.id}}">
                View
              </button>

              <!-- Modal -->
              <div class="modal fade" id="{{course.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{course.course_no}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{course.description}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              </td>
              <td>
                <a href="/course/edit/{{course.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
              </td>
          </tr>

          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>There are no courses in the database yet.</h3>
    {% endif %}
</div>



{% endblock%}
