<!DOCTYPE html>

{% extends "home.html"%}
{% block title %}All Professors{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <br><h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Professors:</h1>
    <div class="row bottom-margin">
      <a href="/professor/add" class="btn btn-primary" role="button" aria-disabled="true"> Add Professors</a>
    </div>
    {% if professors %}
      <table class="table">
        <br><thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          {% for professor in professors %}
          <tr>
              <th scope="row">{{professor.id}}</th>
              <td>{{professor.name}}</td>
              <td>{{professor.department}}</td>
              <td>
                <a href="/professor/edit/{{professor.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
              </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>No professors yet.</h3>
    {% endif %}
  </div>

{% endblock%}
